openapi: 3.1.0
info:
  title: Harbor API
  description: >-
    The Harbor API provides programmatic access to the Harbor community platform,
    enabling brands to manage superfan communities, rewards programs, engagement
    features, analytics, user management, guilds, authentication, and onboarding
    workflows. All endpoints use POST with JSON bodies unless otherwise noted.
  version: 'v1'
  contact:
    name: Harbor Support
    url: https://www.harbor.gg/
externalDocs:
  description: Harbor API Documentation
  url: https://api.harbor.gg/
servers:
  - url: https://api.harbor.gg
    description: Production Server
  - url: https://api.staging.harbor.gg
    description: Staging Server
tags:
  - name: Accounts
    description: Account retrieval and identity management
  - name: Notifications
    description: User notifications and web push subscriptions
  - name: User Management
    description: Admin tools for managing users, strikes, and segments
  - name: Guilds
    description: Guild creation, membership, and management
  - name: Analytics
    description: Dashboard analytics including Discord, Steam, and App Store data
  - name: Authentication
    description: Login and registration via Beamable, email, and blockchain
  - name: OAuth
    description: OAuth flows for third-party integrations
  - name: Resources
    description: Badge, banner, and NFR resource management
  - name: Onboarding
    description: Onboarding step configuration and retrieval
  - name: General
    description: General utility operations
security:
  - bearerAuth: []
paths:
  /db/account/get:
    post:
      operationId: getAccount
      summary: Get account by ID
      description: >-
        Retrieves a single account record by its accountId from the database.
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountIdRequest'
      responses:
        '200':
          description: Account record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /db/account/resource/sum:
    post:
      operationId: getAccountResourceSum
      summary: Get account resource totals
      description: >-
        Returns the summed resource totals for a given account.
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountIdRequest'
      responses:
        '200':
          description: Resource totals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceSum'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webapp/shared/identities/get:
    post:
      operationId: getAccountIdentities
      summary: Get account identities
      description: >-
        Fetches all linked identities (social, blockchain, platform) for an account.
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountIdRequest'
      responses:
        '200':
          description: List of identities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Identity'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webapp/shared/identities/clear:
    post:
      operationId: clearAccountIdentities
      summary: Clear account identities
      description: >-
        Removes all linked identities from an account.
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountIdRequest'
      responses:
        '200':
          description: Identities cleared successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
  /external/account/upsert:
    post:
      operationId: upsertAccount
      summary: Create or update account
      description: >-
        Creates a new account or updates an existing one based on the provided
        external identifier.
      tags:
        - Accounts
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountUpsertRequest'
      responses:
        '200':
          description: Account upserted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webapp/notifications/list:
    post:
      operationId: listNotifications
      summary: List account notifications
      description: >-
        Returns a paginated list of notifications for the specified account.
      tags:
        - Notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaginatedAccountRequest'
      responses:
        '200':
          description: Notification list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webapp/notifications/web-push/account-subscribe:
    post:
      operationId: subscribeWebPush
      summary: Subscribe to web push notifications
      description: >-
        Registers a browser push subscription for the account to receive
        web push notifications.
      tags:
        - Notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebPushSubscriptionRequest'
      responses:
        '200':
          description: Subscribed successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webapp/notifications/web-push/account-unsubscribe:
    post:
      operationId: unsubscribeWebPush
      summary: Unsubscribe from web push notifications
      description: >-
        Removes a browser push subscription for the account.
      tags:
        - Notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountIdRequest'
      responses:
        '200':
          description: Unsubscribed successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin-tools/user-management/users/get:
    post:
      operationId: listUsers
      summary: List users (paginated)
      description: >-
        Retrieves a paginated list of users for admin management purposes.
      tags:
        - User Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaginatedRequest'
      responses:
        '200':
          description: Paginated user list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin-tools/user-management/users/count/get:
    post:
      operationId: getUserCount
      summary: Get total user count
      description: >-
        Returns the total number of users in the project.
      tags:
        - User Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: User count
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin-tools/user-management/users/details/get:
    post:
      operationId: getUserDetails
      summary: Get detailed user info
      description: >-
        Fetches comprehensive details for a specific user including profile,
        activity, and linked data.
      tags:
        - User Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountIdRequest'
      responses:
        '200':
          description: Detailed user info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin-tools/user-management/user/transaction/new:
    post:
      operationId: createUserTransaction
      summary: Modify user resources
      description: >-
        Creates a new resource transaction for a user, adding or subtracting
        platform resources such as points or badges.
      tags:
        - User Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserTransactionRequest'
      responses:
        '200':
          description: Transaction created
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin-tools/user-management/user/accountstrike/get:
    post:
      operationId: getUserStrikes
      summary: Get user strike records
      description: >-
        Retrieves all moderation strike records for the specified account.
      tags:
        - User Management
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountIdRequest'
      responses:
        '200':
          description: Strike records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountStrike'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin-tools/general/guilds/get:
    post:
      operationId: listGuilds
      summary: List guilds (paginated)
      description: >-
        Returns a paginated list of guilds in the project.
      tags:
        - Guilds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaginatedRequest'
      responses:
        '200':
          description: Paginated guild list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin-tools/general/guild/details:
    post:
      operationId: getGuildDetails
      summary: Get guild details
      description: >-
        Returns detailed information about a specific guild including members
        and configuration.
      tags:
        - Guilds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuildIdRequest'
      responses:
        '200':
          description: Guild details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Guild'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin-tools/general/guild/details/update:
    post:
      operationId: updateGuildDetails
      summary: Update guild info
      description: >-
        Updates the name, description, or other metadata for a guild.
      tags:
        - Guilds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuildUpdateRequest'
      responses:
        '200':
          description: Guild updated
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin-tools/general/guild/delete:
    post:
      operationId: deleteGuild
      summary: Delete a guild
      description: >-
        Permanently removes a guild and all associated membership records.
      tags:
        - Guilds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuildIdRequest'
      responses:
        '200':
          description: Guild deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin-tools/general/guild/members/get:
    post:
      operationId: listGuildMembers
      summary: List guild members
      description: >-
        Returns a paginated list of members belonging to a guild.
      tags:
        - Guilds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuildPaginatedRequest'
      responses:
        '200':
          description: Guild member list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin-tools/general/guild/members/add:
    post:
      operationId: addGuildMember
      summary: Add guild member
      description: >-
        Adds a user account to a guild.
      tags:
        - Guilds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuildMemberRequest'
      responses:
        '200':
          description: Member added
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /admin-tools/general/guild/members/remove:
    post:
      operationId: removeGuildMember
      summary: Remove guild member
      description: >-
        Removes a user account from a guild.
      tags:
        - Guilds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GuildMemberRequest'
      responses:
        '200':
          description: Member removed
        '401':
          $ref: '#/components/responses/Unauthorized'
  /dash/analytics/chart/get:
    post:
      operationId: getAnalyticsChart
      summary: Get analytics chart data
      description: >-
        Returns time-series chart data for the specified analytics metric and
        date range.
      tags:
        - Analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsChartRequest'
      responses:
        '200':
          description: Chart data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /dash/analytics/get:
    post:
      operationId: getAnalytics
      summary: Get analytics datapoints
      description: >-
        Returns aggregated analytics datapoints for the dashboard.
      tags:
        - Analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsRequest'
      responses:
        '200':
          description: Analytics datapoints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /dash/analytics/discordChannels/get:
    post:
      operationId: getDiscordChannels
      summary: Get Discord channels by sentiment
      description: >-
        Returns a paginated list of Discord channels filtered and sorted by
        sentiment score.
      tags:
        - Analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaginatedRequest'
      responses:
        '200':
          description: Discord channels
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /dash/analytics/steamReviews/get:
    post:
      operationId: getSteamReviews
      summary: Get Steam reviews
      description: >-
        Returns a paginated list of Steam reviews for the connected game,
        including sentiment analysis data.
      tags:
        - Analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaginatedRequest'
      responses:
        '200':
          description: Steam reviews
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/beamable-email/login:
    post:
      operationId: loginWithEmail
      summary: Login or create account via email
      description: >-
        Authenticates a user with their email address via the Beamable email
        login method, creating the account if it does not exist.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailLoginRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/beamable-email/confirm:
    post:
      operationId: confirmEmailAccount
      summary: Confirm account creation via email
      description: >-
        Confirms a new account created via email by validating the confirmation
        token sent to the user's email address.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailConfirmRequest'
      responses:
        '200':
          description: Account confirmed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/blockchain-ethereum/create-or-login-authorize:
    post:
      operationId: loginWithEthereum
      summary: Authenticate via Ethereum wallet
      description: >-
        Creates or logs in an account using an Ethereum wallet signature for
        blockchain-based authentication.
      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockchainAuthRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /oauth/beamable/auth:
    post:
      operationId: prepareOAuthRedirect
      summary: Prepare OAuth redirect
      description: >-
        Generates the OAuth redirect URL for initiating the Beamable OAuth flow.
      tags:
        - OAuth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuthPrepareRequest'
      responses:
        '200':
          description: OAuth redirect URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuthRedirectResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
  /oauth/beamable/callback:
    get:
      operationId: oauthCallback
      summary: OAuth callback handler
      description: >-
        Handles the OAuth callback redirect from Beamable after user authorization,
        exchanging the authorization code for tokens.
      tags:
        - OAuth
      parameters:
        - $ref: '#/components/parameters/OAuthCode'
        - $ref: '#/components/parameters/OAuthState'
      responses:
        '200':
          description: OAuth callback processed
        '400':
          $ref: '#/components/responses/BadRequest'
  /dash/resource/banner/get:
    post:
      operationId: getBannerResource
      summary: Get banner resource
      description: >-
        Retrieves the banner resource configuration for the dashboard.
      tags:
        - Resources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: Banner resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BannerResource'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /dash/resource/banner/set:
    post:
      operationId: setBannerResource
      summary: Set banner resource
      description: >-
        Updates the banner resource configuration for the dashboard.
      tags:
        - Resources
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BannerResource'
      responses:
        '200':
          description: Banner updated
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /general/addUsers:
    post:
      operationId: addUsersToProject
      summary: Add users to project
      description: >-
        Bulk-adds user accounts to the project.
      tags:
        - General
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddUsersRequest'
      responses:
        '200':
          description: Users added
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /general/altcha/challenge:
    post:
      operationId: generateCaptchaChallenge
      summary: Generate CAPTCHA challenge
      description: >-
        Generates an Altcha CAPTCHA challenge for bot prevention on public forms.
      tags:
        - General
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: CAPTCHA challenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptchaChallenge'
  /general/altcha/validate:
    post:
      operationId: validateCaptcha
      summary: Validate CAPTCHA response
      description: >-
        Validates a solved Altcha CAPTCHA response from the client.
      tags:
        - General
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaptchaValidateRequest'
      responses:
        '200':
          description: CAPTCHA valid
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    OAuthCode:
      name: code
      in: query
      required: true
      schema:
        type: string
      description: OAuth authorization code returned by the provider
    OAuthState:
      name: state
      in: query
      required: false
      schema:
        type: string
      description: OAuth state parameter for CSRF protection
  responses:
    BadRequest:
      description: Bad request — invalid or missing parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized — missing or invalid authentication token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    AccountIdRequest:
      type: object
      required:
        - accountId
      properties:
        accountId:
          type: string
          description: The unique identifier of the account
    PaginatedRequest:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          description: Page number (1-based)
        pageSize:
          type: integer
          minimum: 1
          maximum: 100
          description: Number of results per page
    PaginatedAccountRequest:
      allOf:
        - $ref: '#/components/schemas/AccountIdRequest'
        - $ref: '#/components/schemas/PaginatedRequest'
    AccountUpsertRequest:
      type: object
      required:
        - externalId
      properties:
        externalId:
          type: string
          description: The external identifier for the account
        username:
          type: string
          description: Display name for the account
        email:
          type: string
          format: email
          description: Email address for the account
    Account:
      type: object
      properties:
        id:
          type: string
          description: Unique account identifier
        username:
          type: string
          description: Display name
        email:
          type: string
          format: email
          description: Email address
        createdAt:
          type: string
          format: date-time
          description: Account creation timestamp
        updatedAt:
          type: string
          format: date-time
          description: Last update timestamp
    ResourceSum:
      type: object
      properties:
        accountId:
          type: string
          description: Account identifier
        resources:
          type: object
          additionalProperties:
            type: number
          description: Map of resource type to total amount
    Identity:
      type: object
      properties:
        id:
          type: string
          description: Identity record identifier
        type:
          type: string
          description: Identity type (e.g., discord, steam, ethereum)
          enum:
            - discord
            - steam
            - ethereum
            - aptos
            - beamable
            - youtube
            - twitch
        externalId:
          type: string
          description: External identifier from the identity provider
        linkedAt:
          type: string
          format: date-time
          description: When the identity was linked
    PaginatedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
          description: Array of result items
        total:
          type: integer
          description: Total number of results
        page:
          type: integer
          description: Current page number
        pageSize:
          type: integer
          description: Results per page
    CountResponse:
      type: object
      properties:
        count:
          type: integer
          description: Total count value
    UserDetails:
      type: object
      properties:
        account:
          $ref: '#/components/schemas/Account'
        identities:
          type: array
          items:
            $ref: '#/components/schemas/Identity'
          description: Linked external identities
        resources:
          $ref: '#/components/schemas/ResourceSum'
        activityLog:
          type: array
          items:
            type: object
          description: User activity history
    UserTransactionRequest:
      type: object
      required:
        - accountId
        - resourceType
        - amount
      properties:
        accountId:
          type: string
          description: Target account identifier
        resourceType:
          type: string
          description: Type of resource to modify
        amount:
          type: number
          description: Amount to add (positive) or subtract (negative)
        reason:
          type: string
          description: Reason for the transaction
    AccountStrike:
      type: object
      properties:
        id:
          type: string
          description: Strike record identifier
        accountId:
          type: string
          description: Account that received the strike
        reason:
          type: string
          description: Reason for the strike
        createdAt:
          type: string
          format: date-time
          description: When the strike was issued
    WebPushSubscriptionRequest:
      type: object
      required:
        - accountId
        - subscription
      properties:
        accountId:
          type: string
          description: Account identifier
        subscription:
          type: object
          description: Browser PushSubscription object
          properties:
            endpoint:
              type: string
              format: uri
              description: Push service endpoint URL
            keys:
              type: object
              properties:
                p256dh:
                  type: string
                  description: ECDH public key
                auth:
                  type: string
                  description: Auth secret
    GuildIdRequest:
      type: object
      required:
        - guildId
      properties:
        guildId:
          type: string
          description: Unique guild identifier
    GuildPaginatedRequest:
      allOf:
        - $ref: '#/components/schemas/GuildIdRequest'
        - $ref: '#/components/schemas/PaginatedRequest'
    GuildMemberRequest:
      type: object
      required:
        - guildId
        - accountId
      properties:
        guildId:
          type: string
          description: Guild identifier
        accountId:
          type: string
          description: Account identifier of the member
    GuildUpdateRequest:
      type: object
      required:
        - guildId
      properties:
        guildId:
          type: string
          description: Guild identifier
        name:
          type: string
          description: Updated guild name
        description:
          type: string
          description: Updated guild description
    Guild:
      type: object
      properties:
        id:
          type: string
          description: Unique guild identifier
        name:
          type: string
          description: Guild display name
        description:
          type: string
          description: Guild description
        memberCount:
          type: integer
          description: Number of guild members
        ownerId:
          type: string
          description: Account ID of the guild owner
        createdAt:
          type: string
          format: date-time
          description: Guild creation timestamp
    AnalyticsChartRequest:
      type: object
      properties:
        metric:
          type: string
          description: Analytics metric to chart
        startDate:
          type: string
          format: date
          description: Start of the date range
        endDate:
          type: string
          format: date
          description: End of the date range
    AnalyticsRequest:
      type: object
      properties:
        startDate:
          type: string
          format: date
          description: Start of the date range
        endDate:
          type: string
          format: date
          description: End of the date range
    ChartData:
      type: object
      properties:
        labels:
          type: array
          items:
            type: string
          description: Chart axis labels
        datasets:
          type: array
          items:
            type: object
          description: Chart dataset series
    AnalyticsData:
      type: object
      additionalProperties:
        type: number
      description: Map of metric names to aggregated values
    EmailLoginRequest:
      type: object
      required:
        - email
      properties:
        email:
          type: string
          format: email
          description: User email address
        password:
          type: string
          format: password
          description: User password
    EmailConfirmRequest:
      type: object
      required:
        - token
      properties:
        token:
          type: string
          description: Confirmation token sent via email
    BlockchainAuthRequest:
      type: object
      required:
        - walletAddress
        - signature
      properties:
        walletAddress:
          type: string
          description: Ethereum wallet address
        signature:
          type: string
          description: Signed message proving wallet ownership
        message:
          type: string
          description: The original message that was signed
    AuthResponse:
      type: object
      properties:
        token:
          type: string
          description: JWT authentication token
        accountId:
          type: string
          description: The authenticated account identifier
        expiresAt:
          type: string
          format: date-time
          description: Token expiration timestamp
    OAuthPrepareRequest:
      type: object
      properties:
        redirectUri:
          type: string
          format: uri
          description: URI to redirect to after OAuth authorization
    OAuthRedirectResponse:
      type: object
      properties:
        redirectUrl:
          type: string
          format: uri
          description: OAuth provider authorization URL to redirect the user to
    BannerResource:
      type: object
      properties:
        imageUrl:
          type: string
          format: uri
          description: URL of the banner image
        linkUrl:
          type: string
          format: uri
          description: URL the banner links to when clicked
        altText:
          type: string
          description: Accessible alt text for the banner image
    AddUsersRequest:
      type: object
      required:
        - userIds
      properties:
        userIds:
          type: array
          items:
            type: string
          description: List of user identifiers to add to the project
    CaptchaChallenge:
      type: object
      properties:
        challenge:
          type: string
          description: CAPTCHA challenge string
        salt:
          type: string
          description: Salt used in the CAPTCHA computation
        algorithm:
          type: string
          description: Hashing algorithm for the challenge
    CaptchaValidateRequest:
      type: object
      required:
        - payload
      properties:
        payload:
          type: string
          description: Base64-encoded Altcha solution payload
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error code or type
        message:
          type: string
          description: Human-readable error message
